.secondary-card {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform .2s;
    background: url('../assets/man-and-football.png') rgb(255, 207, 207) no-repeat;
    background-position: right center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondary-card:hover {
    transform: scale(1.3);
    cursor: pointer;
    z-index: 10;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover {
    color: rgb(75, 75, 75);
}