.page-wrapper {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.row {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 414px) {
    .row {
        padding-left: 0rem!important;
        padding-right: 0rem!important;
    }

    .page-wrapper {
        padding: 0rem!important;
    }

    .mx-3 {
        margin-right: 0rem!important;
        margin-left: 0rem!important;
    }
}