/* body.page {
    background: linear-gradient(180deg, #0F2027 0%, #203A43 48%, #2C5364 100%);
} */

.page-wrapper {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.row {
    max-width: 100%;
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
