.main-card {
    border-radius: 0px;
    text-align: center;
    padding: 15px;
    background-color: rgb(75, 75, 75);
    color: rgb(191, 191, 209);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: auto;
    min-height: 150px;
}

.align-bottom {
    position: fixed;
    bottom: 0px;
}